
@{
    ViewBag.Title = "Record Marks";
    ViewBag.Heading = "Record Marks";
}
<div class="content">
    <br />

    <div>

        <table class="table table-striped table-hover mydatatable">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Mark</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.first_name</td>
                        <td>@item.last_name</td>
                        <td>
                            @using (Ajax.BeginForm("SaveMark", "Teachers",
new AjaxOptions
{
InsertionMode = InsertionMode.Replace,
HttpMethod = "GET",
OnFailure = "searchFailed",
OnSuccess = "markSaved",
LoadingElementId = "ajax-loader",
UpdateTargetId = "searchresults",
}))
                            {
                                <input type="number" name="mark" value="@item.result" />
                                <input type="number" name="stud_id" value=@item.StudentID hidden="hidden" />

                                <input type="submit" value="save" />
                                <img id="ajax-loader"
                                     src="@Url.Content("~/Images/Checks.jpg")"
                                     style="display:none" />
                            }
                            <div id="searchresults"></div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

        <br />
        <div align="right">
            @Html.ActionLink("Submit", "Homepage", "Teachers", new { @class = "btn btn-success btn-group" })
        </div>


    </div>
</div>
